button {
  padding: 0px 4px;
}

#waybar {
  font-family: "0xProto Nerd Font";
  font-size: 14px; 
  background-color: #1d2021;
}

#waybar>box { padding: 4px; }

#mode {
  font-weight: bold;
  background-color: #285577;
  margin-right: 12px;
}

#workspaces {
  margin-right: 4px;
}

#workspaces button {
  color: #888;
  margin-right: 4px;
  margin-right: 4px;
}

#workspaces button.active,
#workspaces button.focused {
  color: #fff;
  font-weight: bold;
  background-color: #458588;
}

.modules-center #idle_inhibitor {
  padding-left: 8px;
  padding-right: 12px;
}

#clock { font-weight: bold; }

.modules-right .module {
  margin-left: 12px;
}

#mode {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}
